* {
    box-sizing: border-box;
  }
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    line-height:1.6 ;
}
a{
    text-decoration: none;
    color: rgb(71, 70, 70);
}
header h1 {
    display: inline;
    padding: 0 200px;
}
.container
{
    max-width: 1200px;
    margin: auto;
}
.heading{
    margin: 10px 70px;
}
.banner{
    margin: 0;
    padding: 0;
    background-image: url(images/main-back.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
span{
    font-weight: lighter;
}
.ban-head {
    width: 50%;
    margin-bottom: 0;
    padding: 200px 70px 0 0;
}
.ban-head p {
    font-size: 3rem;
    margin: 0;
    line-height: 50px;
    margin-bottom: 40px;
}
.shop-btn {
    padding: 40px 0 0 0;
}
.head1 {
    text-align: center;
    background-color: rgb(93 126 85);
    font-size: 1rem;
    padding: 8px;
    color: white;
}
.head1 p{
        margin: 0;
}
a.shop {
    background-color: #ebe8d3;
    padding: 10px 20px;
}
nav{
    height: 100px;
    width: 100%;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    float: left;
    padding: 0 10px;
}
nav a{
    display: inline-block;
   padding: 8px;;
}
.navbar2 li{
    float: right;
}
.nav2{
    display: inline;
    float: right;
}
.icon{
    font-size: 20px;
    margin: 0 20px;
}
.About-product {
    text-align: center;
    color: #5b5959;
    font-size: 18px;
    line-height: 25px;
    height: 850px;
    width: 100%;
    background-color: #fff9f2;
}
.column {
    float: left;
    width: 33.33%;
    padding: 25px;
}
.product-head h4 {
    font-size: 2rem;
    margin-top: 0;
    padding: 40px 0 0 0;
}
.product-head {
    padding: 0 280px;
}
.row {
    padding: 0 100px;
}
.product-steps{
    background-color: rgb(211 195 175);
    padding: 0 150px;
    height: 450px;
}
.image {
    width: 45%;
    height: 400px;
    display: inline-block;
    padding: 40px 70px 40px 0;
}
.product-steps img {
    width: 100%;
    height: 100%;
}
.steps {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 0 100px;
    line-height: 20px;
    max-width: 50%;
}
.steps h6 {
    margin-bottom: 0;
    margin-top: 1px;
    font-size: 14px;
}
.steps p {
    margin-top: 0;
}
.steps h4 {
    font-size: 30px;
}
.btn-shop {
    padding: 10px 20px;
    color: rgb(87, 84, 84);
    background-color: rgb(189 136 107);
}
.review {
    width: 100%;
    height: 300px;
    background-color: rgb(93 126 85);
    color: #d2d0c1;
    text-align: center;
    padding: 50px;
}
.needs {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    padding: 40px 70px 40px 0;
    width: 50%;
}
.needs h4{
    font-size: 30px;
}
.product-need {
    background-color: #fff9f2;
    padding: 0 150px;
    height: 450px;
}
.product-need img {
    width: 100%;
    height: 100%;
}
.image4 {
    width: 45%;
    height: 400px;
    display: inline-block;
    padding: 50px 0 0 100px;
}
.review-head{
    margin-top: 0;
    font-size: 2rem;  
}
.review-2{
    font-family: 'NovaresePro-Medium';
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: white;
    border-width: 7px;
    width: 5%;
    margin-top: 80px;
}
footer{
    background-color: rgb(211 195 175);
    height: 20px; 
}
    
